<%= form_with(model: @post, local: true) do |form| %>
  <div>
    <%= form.label :title, "Título" %><br>
    <%= form.text_field :title %>
  </div>

  <br>

  <div>
    <%= form.label :description, "Descrição" %><br>
    <%= form.text_area :description %>
  </div>

  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>